<include file="Public/header" title="{$category}-上海烽凰后台管理主页" />

 <div id="content">
     <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="返回主页" class="tip-bottom"><i class="icon-home"></i>首页</a> <a href="#" class="current">{$category}管理</a> </div>
    <h1>{$category}管理</h1>
  </div>
<div class="container">
          <div class="row">
        <article class="span12">
            <a href="{:U('picture/add',array('category'=>$category))}" class="btn btn-primary">添加{$category}</a><hr/>
        </article>
        <div class="clear"></div>
        <ul class="thumbnails thumbnails-1 list-services">
               <foreach name="picture" item="p">
                     <li class="span4">
                         <div class="thumbnail thumbnail-1">
                             <a href="{:U('picture/details',array('category'=>$p['category'],'id'=>$p['id']))}" class="link-1"><img src="{$p.imageurl}" alt="{$p.intro}" width="320" height="320"/></a>
                            <section>
                                <a href="{:U('picture/details',array('category'=>$p['category'],'id'=>$p['id']))}" class="link-1">{$p.intro}</a>
                            </section>
                         </div>
                     <div class="actions">
                         <a href="{:U('picture/update',array('category'=>$p['category'],'id'=>$p['id']))}">
                            <i class="icon-pencil icon-white"></i>
                        </a>
                         <a href="{:U('picture/delete',array('category'=>$p['category'],'id'=>$p['id']))}">
                             <i class="icon-remove icon-white"></i>
                         </a>
                     </div>
                     </li>
               </foreach>
            </ul>
      </div>
  </div>
<include file="Public/footer" />