<extend name="Public/layout" />
<block name="title">修改轮播图片-上海烽凰后台管理</block>
<block name="content">

<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="{:U('index/index')}" title="返回主页" class="tip-bottom"><i class="icon-home"></i> 主页</a> <a href="{:U('picture/index')}" class="tip-bottom">轮播图片管理</a> <a href="#" class="current">修改轮播图片</a> </div>
  <h1>修改轮播图片</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span10">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>修改轮播图片</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="{:U('picture/update')}" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="hidden" name="id" value="{$model.id}">
            <div class="control-group">
              <label for="normal" class="control-label">图片介绍</label>
              <div class="controls">
                  <textarea name="intro" class="textarea_editor span8" rows="6">{$model.intro}</textarea>
               </div>
            </div>
            <div class="control-group">
              <label class="control-label">上传图片</label>
              <div class="controls">
                  <div class="alert alert-warning">上传图片大小：宽:1180px、高:430px</div>
                  <input type="hidden" name="eximageURL" value="{$model.imageurl}"/>
               <input type="file" id="imageUpload" name="imageURL"/>
                  <div id="eximg" class="preview" style="position: absolute; float: left;"><img src="{$model.imageurl}" alt="{$model.intro}"/></div>
				<div id="preview" class="preview"></div>
              </div>
                <style>
                    .preview{margin-top: 20px; position: relative; width: 900px;height: 250px;}
                    .preview .item{position: absolute; width: 250px; height: 250px;}
                    .preview img{max-width: 224px;max-height: 224px;cursor: url(../images/big.cur), auto;  box-shadow: 0px 1px 1px 1px #AAA3A3;}
                    .preview img:hover{box-shadow: 0px 1px 1px 2px #83ABD2;}
                    .preview .big{z-index: 2;}
                    .preview .big img{max-width: none; max-height: none; cursor: url(../images/small.cur), auto;box-shadow: 2px 2px 10px 2px #666;}
                </style>
                 <script type="text/javascript">
                    var Upload = (function(){
                        var upimg = document.getElementById('imageUpload');
                        var show  = document.getElementById('preview');
                        var eximg  = document.getElementById('eximg');

                        function init(){
                            if(!(window.FileReader && window.File && window.FileList && window.Blob)){
                                show.innerHTML = '您的浏览器不支持fileReader';
                                upimg.setAttribute('disabled', 'disabled');
                                return false;
                            }
                            handler();
                        }

                        function handler(){
                            upimg.addEventListener('change', function(e){
                                var files = this.files;
                                if(files.length){
                                    checkFile(this.files);
                                }
                            });

                            show.addEventListener('click', function(e){
                                var target = e.target;
                                if(target.tagName.toUpperCase()=='IMG'){
                                    var parent = target.parentNode;
                                    var big = parent.className.indexOf('big')>=0;
                                    var item = this.childNodes;
                                    for(var i=0; i<item.length; i++){
                                        item[i].className = 'item';
                                        item[i].firstElementChild.style.cssText = '';
                                    }

                                    var parent = target.parentNode;
                                    if(!big){
                                        // 点击放大
                                        target.style.cssText = 'width:'+target.naturalWidth+'px; height:'+target.naturalHeight+'px;'; // 关键
                                        parent.className += ' big';
                                    }
                                }
                            }, false)
                        }

        
                        function checkFile(files){
        	                var file = files[0];
        	                var reader = new FileReader();
        	                // show表示<div id='show'></div>，用来展示图片预览的
        	                if(!/image\/\w+/.test(file.type)){
                                show.innerHTML = "请确保文件为图像类型";
                                return false;
                            }
                            // onload是异步操作
        	                reader.onload = function(e){
        		                show.innerHTML = '<img src="'+e.target.result+'" alt="img">';
                                 if (eximg!= null){
                                      eximg.parentNode.removeChild(eximg);
                                 }
        	                }
        	                reader.readAsDataURL(file);
                        }
                        return {
                            init : init
                        }
                    })();
                    Upload.init();
                    </script>
            </div>

            <div class="control-group">
              <label for="normal" class="control-label">发表时间：</label>
              <div class="controls">
                <span class="span8">{$time} </span> </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button type="submit" class="btn btn-primary">提交</button>
                  <button type="reset" class="btn btn-primary">清空</button> </div>
            </div>
          </form>
        </div>
      </div>   
    </div>
  </div>
</div>
</div>
</block>