<include file="Public/header" title="添加{$category}-上海烽凰后台管理主页" />
<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="{:U('index/index')}" title="返回主页" class="tip-bottom"><i class="icon-home"></i> 主页</a> <a href="{:U('intro/index',array('category'=>$cid))}" class="tip-bottom">{$category}</a> <a href="#" class="current">添加{$category}</a> </div>
  <h1>添加{$category}</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>添加{$category}</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="{:U('intro/add')}" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="hidden" name="category" value="{$cid}">
            <div class="control-group">
              <label for="normal" class="control-label">标题</label>
              <div class="controls">
                <input type="text" name="title" class="span8 mask text">
               </div>
            </div>
            <div class="control-group">
              <label for="text" class="control-label">内容</label>
              <div class="controls">
                 <textarea id="editor" name="content" class="span8"></textarea>
                  
              </div>
            </div>

            <div class="control-group">
              <label for="normal" class="control-label">发表时间：</label>
              <div class="controls">
                <span class="span8">{$time}</span> </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button type="submit" name="submit" name="submit" class="btn btn-primary">提交</button>
                  <button type="reset" name="submit" class="btn btn-primary">重置</button> </div>
            </div>
          </form>
        </div>
      </div>   
    </div>
  </div>
</div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('editor',{
        initialFrameHeight:400
    });
</script>
<include file="Public/footer" />