<extend name="Public/layout" />
<block name="title">烽凰方法论|上海烽凰文化传播有限公司</block>
<block name="content"> 
<div class="container">
    <section class="callaction">
		<div class="row">            
                <div class="col-md-12">                    
                    <div class="page-header">    
                        <h3>{$model.title}</h3>       
                    </div>
                    <div class="padlr30 marginlr20" id="content">
                         {$content}
                    </div>
                </div>
		</div>		
    </section></div></block>