<include file="Public/header" title="烽凰方法论"/>   
  <div class="container">
<section class="callaction">
  
		<div class="row">
          
                 <div class="col-md-12 pading30">
                   <div class="page-header">    
                          <h3 class="marginleft20">烽凰方法论</h3>       
                     </div>
		 
                    <foreach name="article" item="a">
                         <div class="col-md-12 marginbot40">
		                    <div class="col-md-4">
		                    <img src="{$a.imageurl}" alt="{$a.intro}" width="100%"/>
		                    </div>
		                    <div class="col-md-8">
			                    <div><a href="{:U('article/detail',array('id'=>$a['id']))}"><h2> {$a.title}</h2></a>
                                                <div>
                                
                                        </div>
                                    <a href="{:U('article/detail',array('id'=>$a['id']))}"><p class="intro psize16">{$a.intro}</p></a>
			                    </div>
                                </div>
		                    </div>
 
                    </foreach>
                    <div class="col-md-12">
                         <div class="pull-right">
                           {$page}
                        </div>
                    </div>
            </div>
	
	</div>
	</section>      </div><include file="Public/footer"/>