<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="_IMAGES_/fenghuang.ico" type="image/x-ico" /> 
        <link rel="shortcut icon" href="_IMAGES_/fenghuang.ico" type="image/x-icon">
        <title><block name="title">首页|上海烽凰文化传播有限公司</block></title>
        <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <!-- css -->
        <link href="_CSS_URL_/bootstrap.css" rel="stylesheet" />
        <link href="_CSS_URL_/bootstrap.min.css" rel="stylesheet" />
        <link href="_CSS_URL_/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="_CSS_URL_/flexslider.css" rel="stylesheet" />
        <link href="_CSS_URL_/style.css" rel="stylesheet" />
        <link href="_CSS_URL_/custom-fonts.css" rel="stylesheet" />
        <block name="css"></block>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>
    <body>
<div id="wrapper">
    <block name="header"><include file="Public/header"/> </block>

        <div class="container">        <section id="featured">
        <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <foreach name="picture" item="p">
                      <li>
                        <img src="{$p.imageurl}" alt="{$p.intro}" />
                      </li>
                      </foreach>
                    </ul>
                </div>
	        <!-- end slider -->
            </section>
        </div>

    <block name="content"></block>
    <block name="footer"><include file="Public/footer"/> </block></div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
  <!-- javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="_JS_URL_/jquery.js"></script>
        <script src="_JS_URL_/jquery.easing.1.3.js"></script>
        <script src="_JS_URL_/bootstrap.min.js"></script>
        <script src="_JS_URL_/jquery.fancybox.pack.js"></script>
        <script src="_JS_URL_/jquery.fancybox-media.js"></script> 
        <script src="_JS_URL_/portfolio/jquery.quicksand.js"></script>
        <script src="_JS_URL_/portfolio/setting.js"></script>
        <script src="_JS_URL_/jquery.flexslider.js"></script>
        <script src="_JS_URL_/animate.js"></script>
        <script src="_JS_URL_/custom.js"></script>
        <script src="_JS_URL_/menu_jquery.js"></script>
        <block name="js"></block>
    </body>
</html>