<extend name="Public/layout" />
<block name="title">案例赏析|上海烽凰文化传播有限公司</block>
<block name="content"> 

<div class="container">
    <section class="callaction">
	
		    <div class="row">
           
                    <div class="col-md-12 pading30">
                        <div class="page-header">    
                              <h3 class="marginleft20">{$model.title} </h3>       
                         </div>
           
                     <div class="pading30" id="content">
                         {$content}
                     </div>
		            </div>
		        </div>
	</section></div></block>