<include file="Public/header" title="案例赏析"/>   
<section class="callaction">
	
		<div class="row">
            <div class="container">
            <div class="col-md-12">
               <div class="page-header">    
                      <h3>案例赏析</h3>       
                 </div>
		  <div class="col-md-12">
              <div class="page-header">  
                  <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('fhcase/fhcase',array('cid'=>'4'))}">more</a></li>
                      <li>新闻营销</li>
                    </ul>            
                 </div>
            <foreach name="new" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="col-md-4">
		        <img src="{$n.imageurl}" alt="{$n.intro}" width="100%"/>
		        </div>
		        <div class="col-md-8">
			        <div> 
                    <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><h3>{$n.title}</h3></a>

                    <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"> <p class="intro psize16">{$n.intro}</p></a>
			        </div>
                    </div>  
                      </div> 
             </foreach>
             </div>

             <div class="col-md-12">
              <div class="page-header">  
                  <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('fhcase/fhcase',array('cid'=>'1'))}">more</a></li>
                      <li>公益营销</li>
                    </ul>   
                             
                 </div>
            <foreach name="public" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="col-md-4">
		        <img src="{$n.imageurl}" alt="{$n.intro}" width="100%"/>
		        </div>
		        <div class="col-md-8">
			        <div> 
                        <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><h3>{$n.title}</h3></a>
                        <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><p class="intro psize16">{$n.intro}</p></a>
			        </div>
                    </div>  
                      </div> 
             </foreach>
             </div>

            
             <div class="col-md-12">
              <div class="page-header">  
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('fhcase/fhcase',array('cid'=>'5'))}">more</a></li>
                      <li>娱乐文化营销</li>
                    </ul>       
                 </div>
            <foreach name="entertainment" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="col-md-4">
		        <img src="{$n.imageurl}" alt="{$n.intro}" width="100%"/>
		        </div>
		        <div class="col-md-8">
			        <div> 
                        <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><h3>{$n.title}</h3></a>
                        <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><p class="intro psize16">{$n.intro}</p></a>
			        </div>
                    </div>  
                      </div> 
             </foreach>
             </div>

            <div class="col-md-12">
              <div class="page-header">  
                     <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('fhcase/fhcase',array('cid'=>'2'))}">more</a></li>
                      <li>事件营销</li>
                    </ul>  
                         
                 </div>
            <foreach name="event" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="col-md-4">
		        <img src="{$n.imageurl}" alt="{$n.intro}" width="100%"/>
		        </div>
		        <div class="col-md-8">
			        <div>
                        <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><h3> {$n.title}</h3></a>
                        <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><p class="intro psize16">{$n.intro}</p></a>
			        </div>
                    </div>  
                      </div> 
             </foreach>
             </div>

             <div class="col-md-12">
              <div class="page-header">   
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('fhcase/fhcase',array('cid'=>'3'))}">more</a></li>
                      <li>危机公关</li>
                    </ul>   
                           
                 </div>
            <foreach name="crisis" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="col-md-4">
		        <img src="{$n.imageurl}" alt="{$n.intro}" width="100%"/>
		        </div>
		        <div class="col-md-8">
			        <div> 
                        <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"><h3>{$n.title}</h3></a>
                       <a href="{:U('fhcase/detail',array('cid'=>$n['category'],'id'=>$n['id']))}"> <p class="intro psize16">{$n.intro}</p></a>
			        </div>
                    </div>  
                      </div> 
             </foreach>
             </div>

		</div>
		</div>
	</div>
	</section><include file="Public/footer"/>