<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>[title]</title>
        <link rel="stylesheet" href="__CSS_URL__/bootstrap.min.css" />
        <link rel="stylesheet" href="__CSS_URL__/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="__CSS_URL__/matrix-style.css" />
        <link rel="stylesheet" href="__CSS_URL__/matrix-media.css" />
        <link href="__PUBLIC_URL__/css/font-awesome.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  
    </head>
    <body>
        <!--Header-part-->
<div id="header">
  <h2><a href="#">上海烽凰</a></h2>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>
     <span class="text">欢迎你, <strong>{:session('username')}</strong></span>
    <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{:U('user/index')}"><i class="icon-user"></i> 用户管理</a></li>
        <li class="divider"></li>
        <li><a href="{:U('login/logout')}"><i class="icon-key"></i> 退出登录</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="搜索..."/>
  <button type="submit" class="tip-bottom" title="搜索"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i></a>
  <ul>
    <li class="submenu"><a href="#"><i class="icon icon-home"></i> <span>烽凰文化</span></a>
          <ul>
            <li><a href="{:U('article/index',array('category'=>'公司简介'))}">公司简介</a></li>
            <li><a href="{:U('article/index',array('category'=>'公司历史'))}">公司历史</a></li>
            <li><a href="{:U('article/index',array('category'=>'团队介绍'))}">团队介绍</a></li>
          </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-signal"></i> <span>新闻信息</span></a>
          <ul>
            <li><a href="{:U('article/index',array('category'=>'公司动态'))}">公司动态</a></li>
            <li><a href="{:U('article/index',array('category'=>'行业新闻'))}">行业新闻</a></li>
          </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-inbox"></i> <span>烽凰方法论</span></a> 
          <ul>
            <li><a href="{:U('article/index',array('category'=>'烽凰方法论'))}">烽凰方法论</a></li>
          </ul>
    </li>
    <li class="submenu"><a href="#"><i class="icon icon-th"></i> <span>案例</span></a>
          <ul>
            <li><a href="{:U('article/index',array('category'=>'公益营销'))}">公益营销</a></li>
            <li><a href="{:U('article/index',array('category'=>'事件营销'))}">事件营销</a></li>
            <li><a href="{:U('article/index',array('category'=>'危机公关'))}">危机公关</a></li>
            <li><a href="{:U('article/index',array('category'=>'新闻营销'))}">新闻营销</a></li>
            <li><a href="{:U('article/index',array('category'=>'娱乐文化营销'))}">娱乐文化营销</a></li>
          </ul>
    </li>
    <li class="submenu"><a href="#"><i class="icon icon-fullscreen"></i> <span>产品服务</span></a>
          <ul>
            <li><a href="{:U('article/index',array('category'=>'产品服务'))}">产品服务</a></li>
          </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>联系我们</span></a>
      <ul>
        <li><a href="{:U('contact/index')}">联系方式</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>视频锦集</span></a>
      <ul>
        <li><a href="{:U('video/index',array('category'=>'案例视频'))}">案例视频</a></li>
        <li><a href="{:U('video/index',array('category'=>'公司活动'))}">公司活动视频</a></li>
      </ul>
    </li>
          <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>图片管理</span></a>
      <ul>
        <li><a href="{:U('picture/index',array('category'=>'轮播图片'))}">轮播图片</a></li>
        <li><a href="{:U('picture/index',array('category'=>'二维码'))}">二维码</a></li>
      </ul>
    </li>
      <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>其他操作</span></a>
      <ul>
        <li><a href="#">返回公司首页</a></li>
        <li><a href="{:U('login/logout')}">退出登录</a></li>
      </ul>
    </li>
  </ul>
    </div>
</div>
<!--sidebar-menu-->

        <script src="__JS_URL__/excanvas.min.js"></script> 
        <script src="__JS_URL__/jquery.min.js"></script> 
        <script src="__JS_URL__/jquery.ui.custom.js"></script> 
        <script src="__JS_URL__/bootstrap.min.js"></script> 
        <script src="__JS_URL__/bootstrap-modal.js"></script>
        <script src="__JS_URL__/jquery.js"></script> 
        <script src="__JS_URL__/jquery.flot.min.js"></script> 
        <script src="__JS_URL__/jquery.flot.resize.min.js"></script> 
        <script src="__JS_URL__/jquery.peity.min.js"></script> 
        <script src="__JS_URL__/fullcalendar.min.js"></script> 
        <script src="__JS_URL__/matrix.js"></script> 
        <script src="__JS_URL__/matrix.dashboard.js"></script> 
        <script src="__JS_URL__/jquery.gritter.min.js"></script> 
        <script src="__JS_URL__/matrix.interface.js"></script> 
        <script src="__JS_URL__/matrix.chat.js"></script> 
        <script src="__JS_URL__/jquery.validate.js"></script> 
        <script src="__JS_URL__/matrix.form_validation.js"></script> 
        <script src="__JS_URL__/jquery.wizard.js"></script> 
        <script src="__JS_URL__/jquery.uniform.js"></script> 
        <script src="__JS_URL__/select2.min.js"></script> 
        <script src="__JS_URL__/matrix.popover.js"></script> 
        <script src="__JS_URL__/jquery.dataTables.min.js"></script> 
        <script src="__JS_URL__/matrix.tables.js"></script> 

        <script type="text/javascript">
            function goPage (newURL) {
                if (newURL != "") {
                    if (newURL == "-" ) {
                        resetMenu();            
                    } 
                    else {  
                    document.location.href = newURL;
                    }
                }
            }
            function resetMenu() {
                 document.gomenu.selector.selectedIndex = 2;
            }
        </script>
    </body>
</html>
