<extend name="Public/layout" />
<block name="title">视频集锦|上海烽凰文化传播有限公司</block>
<block name="content">

<div class="container"> 
<section class="callaction">
	
	<div class="row">
        
            <div class="col-md-12">
                <div class="page-header">    
                    <h3>{$model.title}</h3>       
                </div>
                <div class="vidcen">
                <if condition="$model['flag'] eq '0' ">
                    {$model.videourl}
                <else />
                    <video width="640" height="480" controls>
                        <source src="{$model.videourl}" type="video/mp4"/>
                        <source src="{$model.videourl}" type="video/wmv"/>
                        <source src="{$model.videourl}" type="video/avi"/>
                    </video>
                </if>
                    <div class="caption">
                        <p>{$model.intro}</p>
                    </div>
                </div>
		    </div>
	    </div>		
</section> </div></block>