<include file="Public/header" title="视频集锦"/>  
<div class="container"> 
<section class="callaction">
	
	<div class="row">
        
            <div class="col-md-12 pading30">
                <div class="page-header">    
                    <h3 class="marginleft20">{$model.title}</h3>       
                </div>
                <if condition="$model['category'] eq '1' ">
                    <div class="marginleft40">{$videourl}</div> 
                <else />
                    <video width="640" height="480" controls class="marginleft40">
                        <source src="{$model.localvideo}" type="video/mp4"/>
                        <source src="{$model.localvideo}" type="video/wmv"/>
                        <source src="{$model.localvideo}" type="video/avi"/>
                    </video>
                </if>

		    </div>
	    </div>		
</section> </div><include file="Public/footer"/>