<extend name="Public/layout" />
<block name="title">视频集锦|上海烽凰文化传播有限公司</block>
<block name="content">
     
<div class="container">
    <section id="callaction">
        <div class="row">			
            <div class="col-md-12 pad0">
                <div class="page-header marginlr20">    
                     <p>视频集锦</p>          
                </div>

                <div class="col-md-12 pad0">
                    <foreach name="article" item="a">
                        <div class="col-md-4 marginbot30">
                            <a href="{:U('video/detail',array('id'=>$a['id']))}" title="{$a.title}">
                                <div class="thumbnail">
                                    <img src="{$a.imageurl}" alt="{$a.intro}"/>    
                                    <div class="caption">
                                        <h4>{$a.title}</h4>
                                        <p>{$a.intro}</p>
                                    </div>
                                </div>
                            </a>
                        </div>		
                    </foreach>
                </div>

                <div class="col-md-12 ">
                    <div class="pull-right marginlr20">
                       {$page}
                    </div>
            </div>
            </div>
        </div>
	</section>
</div></block>