<include file="Public/header" title="首页"/>   
<section class="callaction">
	<div class="container">
		<div class="row">
               <div class="page-header">    
                      <h3>联系我们</h3>       
                 </div>
           
                 <div class="col-md-12">
                    <address>
					<strong>地址：</strong>{$contact.address}</address>
					<p>
						<i class="icon-phone"></i><strong>电话: </strong>{$contact.telphone} <br>
                        <i class="icon-phone"></i><strong>传真: </strong>{$contact.fax} <br>
						<i class="icon-envelope-alt"></i><strong>Email: </strong>{$contact.email} 
					</p>

		        </div>
		</div>
		
	</div>
	</section><include file="Public/footer"/>