<extend name="Public/layout" />
<block name="title">联系我们|上海烽凰文化传播有限公司</block>
<block name="content"> 
<div class="container"> 
    <section class="callaction">	
		<div class="row">
            <div class="col-md-12">
                <div class="page-header">    
                    <p>联系我们</p>       
                </div>
                <div class="pading30">
                    <p class="psize">
                        <if condition="$contact['telphone'] neq ''">
                            <i class="icon-phone"></i><strong>电话: </strong><span>{$contact.telphone} </span><br>
                        </if>

						    <if condition="$contact['fax'] neq ''">
                            <i class="icon-phone"></i><strong>传真: </strong><span>{$contact.fax}</span> <br>
                        </if>

                        <if condition="$contact['email'] neq ''">
                            <i class="icon-envelope-alt"></i><strong>Email: </strong><span>{$contact.email}</span><br> 
                        </if>

                        <if condition="$contact['address'] neq ''">
                            <i class="icon-envelope-alt"></i><strong>地址： </strong><span>{$contact.address}</span><br>  
                        </if>

                        <if condition="$contact['qq'] neq ''">
                            <i class="icon-envelope-alt"></i><strong>QQ： </strong><span>{$contact.qq}</span> 
                        </if>                            
					  </p>
                </div>
		    </div>
		</div>
    </section></div></block>