<include file="Public/header" title="联系我们"/>  
  <div class="container"> 
<section class="callaction">	
		<div class="row">
                 <div class="col-md-12 pading30">
                   <div class="page-header">    
                          <h3 class="marginleft20">联系我们</h3>       
                     </div>
                     <div class="pading30">
                      <p class="psize">
						    <i class="icon-phone"></i><strong>电话: </strong>{$contact.telphone} <br>
                            <i class="icon-phone"></i><strong>传真: </strong>{$contact.fax} <br>
						    <i class="icon-envelope-alt"></i><strong>Email: </strong>{$contact.email}<br> 
                           <i class="icon-envelope-alt"></i><strong>地址： </strong>{$contact.address} 
					  </p>
                        </div>
		            </div>
		</div>
		
	</div>
	</section><include file="Public/footer"/>