<extend name="Public/layout" />
<block name="title">烽凰简介|上海烽凰文化传播有限公司</block>
<block name="content">

<div class="container"> 
    <section class="callaction">	
		<div class="row">          
                <div class="col-md-12">
                    <div class="page-header">
                        <p>{$category}</p>        
                    </div>
           
                    <div class="pading30" id="content">
                        {$content}
                    </div>                    
		        </div>
		</div>
	</section>     		
</div></block>