<include file="Public/header" title="走进烽凰|上海烽凰文化传播有限公司"/>  
 <div class="container"> 
<section class="callaction">
	
		<div class="row">
           
                <div class="col-md-12 pading30">
               <div class="page-header">    
                      <h3 class="marginleft20">{$category}</h3>       
                 </div>
           
                 <div class="pading30">
                     {$content}
                 </div>
                     

		        </div>
		</div>
		
	</div>
	</section><include file="Public/footer"/>