<extend name="Public/layout" />
<block name="content">

<div id="content">
 <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="主页" class="tip-bottom"><i class="icon-home"></i>主页</a></div>
  </div>
<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="{:U('user/index')}"> <i class="icon-dashboard"></i>用户管理</a> </li>
        <li class="bg_lb"> <a href="{:U('intro/index',array('category'=>'1'))}"> <i class="icon-dashboard"></i>烽凰简介</a> </li>
        <li class="bg_lo"> <a href="{:U('article/index',array('category'=>'0'))}"> <i class="icon-th-list"></i> 烽凰方法论</a> </li>
        <li class="bg_ls"> <a href="{:U('article/index',array('category'=>'11'))}"> <i class="icon-tint"></i>公益营销</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'12'))}"> <i class="icon-pencil"></i>事件营销</a> </li>
        <li class="bg_lg"> <a href="{:U('article/index',array('category'=>'13'))}"> <i class="icon-calendar"></i> 危机公关</a> </li>
        <li class="bg_lr"> <a href="{:U('article/index',array('category'=>'14'))}"> <i class="icon-info-sign"></i>新闻营销</a> </li>
        <li class="bg_ls"> <a href="{:U('article/index',array('category'=>'15'))}"> <i class="icon-tint"></i>娱乐文化营销</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'21'))}"> <i class="icon-pencil"></i>媒体发布</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'22'))}"> <i class="icon-pencil"></i>公关活动</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'23'))}"> <i class="icon-pencil"></i>危机公关处理</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'24'))}"> <i class="icon-pencil"></i>广告代理发布</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'25'))}"> <i class="icon-pencil"></i>网络推广</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'26'))}"> <i class="icon-pencil"></i>VI设计</a> </li>
        <li class="bg_lb"> <a href="{:U('article/index',array('category'=>'27'))}"> <i class="icon-pencil"></i>全案策划服务</a> </li>
        <li class="bg_lg"> <a href="{:U('contact/index')}"> <i class="icon-calendar"></i> 联系我们</a> </li>
        <li class="bg_lr"> <a href="{:U('video/index')}"> <i class="icon-info-sign"></i>网络视频</a> </li>
          <li class="bg_lr"> <a href="{:U('localvideo/index')}"> <i class="icon-info-sign"></i>本地视频</a> </li>
        <li class="bg_lb"> <a href="{:U('picture/index')}"> <i class="icon-pencil"></i>轮播图片</a> </li>
        <li class="bg_lr"> <a href="http://www.sh-fenghuang.com"> <i class="icon-info-sign"></i>回网站首页</a> </li>
        <li class="bg_lr"> <a href="{:U('login/logout')}"> <i class="icon-info-sign"></i>退出登录</a> </li>
      </ul>
    </div>
<!--End-Action boxes-->  				

	</div>
</div>

</block>