<extend name="Public/layout" />
<block name="title">搜索结果-上海烽凰后台管理</block>
<block name="content">

<div id="content">
    <div id="content-header">
    <div id="breadcrumb"> <a href="{:U('index/index')}" title="返回主页" class="tip-bottom"><i class="icon-home"></i>主页</a> <a href="#" class="current">搜索结果</a> </div>
    <h1>搜索结果</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>结果列表</h5>
          </div>
           <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>标题</th>
                  <th>简介</th>
                  <th>封面图片</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
        <foreach name="article" item="a">
            <tr class="gradeX">
                <td>{$a.id}</td>
                <td width="20%">{$a.title}</td>
                <td width="40%">{$a.intro}</td>
                <td><img src="{$a.imageurl}" alt="{$a.title}" width="100px" height="100px"/></td>
                <td width="10%">{$a.createdate}</td>
                <td>
                    <a href="{:U('article/update',array('category'=>$a['category'],'id'=>$a['id']))}">修改</a> |<a href="{:U('article/details',array('category'=>$a['category'],'id'=>$a['id']))}">详情</a> |<a href="{:U('article/delete',array('category'=>$a['category'],'id'=>$a['id']))}" style="color:red;" onclick="javascript:return del('您真的确定要删除吗？\n\n删除后将不能恢复!');">直接删除</a>
                </td>
            </tr>
        </foreach>
            </tbody>
            </table>
          </div>
        </div>
          <div>
              <div class="pull-right">
                   {$page}
              </div>
          </div>
          <div>
          </div>
      </div>
    </div>
  </div></div>
</block>
