<include file="Public/header" title="首页"/>   <div class="container"><section id="featured">
<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <foreach name="picture" item="p">
              <li>
                <img src="{$p.imageurl}" alt="{$p.intro}" />
              </li>
              </foreach>
            </ul>
        </div>
	<!-- end slider -->
    </section>
</div>

	<section class="callaction">
	<div class="container">
		<div class="row">
         <div class="col-md-12">
             <div class="col-md-6">
                 <div class="page-header">
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('article/index')}">more</a></li>
                      <li>烽凰方法论</li>
                    </ul>
                 </div>
		 
                <div class="col-md-12">	
                <div class="row service-v1 margin-bottom-40">
                 <foreach name="article" item="a">
                      <div class="col-md-6 md-margin-bottom-40">
		                <a href="{:U('article/detail',array('id'=>$a['id']))}"><img class="img-responsive" src="{$a.imageurl}" alt=""/>
		              <h4 class="intro">{$a.intro}</h4></a>
			   
                       </div>
             
                       </foreach>
		        </div>
                </div>
        </div>
                <div class="col-md-6" >
                 <div class="page-header" >
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('video/index')}">more</a></li>
                      <li>视频中心</li>
                    </ul>
            
                 </div>
		 
                <div class="col-md-12">	
                <div class="row service-v1 margin-bottom-40">
                 <foreach name="video" item="a">
                      <div class="col-md-6 md-margin-bottom-40">
		                 <a href="{:U('video/detail',array('id'=>$a['id']))}"><img class="img-responsive" src="{$a.imageurl}" alt=""/>
		             <h4 class="intro">{$a.intro}</h4></a>
			   
                       </div>
             
                       </foreach>
		        </div>
                </div>
            </div>
             </div>
                </div>
	        </div>
	        </section>

	<section class="callaction">
        <div class="container">
	        <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                  <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('fhcase/index')}">more</a></li>
                      <li>案例赏析</li>
                  </ul>
            </div>
	        </div>
                  <div class="col-md-12">

             
               <foreach name="case" item="a">
              <div class="col-md-3 md-margin-bottom-40">
		        <a href="{:U('fhcase/detail',array('cid'=>$a['category'],'id'=>$a['id']))}"><img class="img-responsive" src="{$a.imageurl}" alt=""/>
		      <h4 class="intro">{$a.intro}</h4></a>
			   
               </div>
             
               </foreach>
              </div>
            </div> 
	        </div>         </section> 
    </div>
<include file="Public/footer"/>
