<include file="Public/header" title="首页"/>   <div class="container"><section id="featured">
<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <foreach name="picture" item="p">
              <li>
                <img src="{$p.imageurl}" alt="{$p.intro}" />
              </li>
              </foreach>
            </ul>
        </div>
	<!-- end slider -->
    </section>
</div>

	<section class="callaction">
	<div class="container">
		<div class="row">
         <div class="col-md-12">
             <div class="col-md-6">
                 <div class="page-header">
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="./help/#support"><h4>more>></h4></a></li>
                      <li class="panel-title"><h2>烽凰方法论</h2></li>
                    </ul>
                 </div>
		 
                <div class="col-md-12">	
                <div class="row service-v1 margin-bottom-40">
                 <foreach name="article" item="a">
                      <div class="col-md-6 md-margin-bottom-40">
		                <img class="img-responsive" src="{$a.imageurl}" alt=""/>
		              <a href="#"><p class="intro">{$a.intro}</p></a>
			   
                       </div>
             
                       </foreach>
		        </div>
                </div>
        </div>
                <div class="col-md-6" >
                 <div class="page-header" >
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="./help/#support"><h4>more>></h4></a></li>
                      <li class="panel-title"><h2>视频中心</h2></li>
                    </ul>
            
                 </div>
		 
                <div class="col-md-12">	
                <div class="row service-v1 margin-bottom-40">
                 <foreach name="article" item="a">
                      <div class="col-md-6 md-margin-bottom-40">
		                <img class="img-responsive" src="{$a.imageurl}" alt=""/>
		              <a href="#"><p class="intro">{$a.intro}</p></a>
			   
                       </div>
             
                       </foreach>
		        </div>
                </div>
            </div>
             </div>
                </div>
	        </div>
	        </section>

	<section class="content" id="two">
        <div class="container">
	        <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                  <ul class="list-unstyled">
                  <li class="pull-right"><h4>more>></h4></li>
                  <li class="panel-title"><a href="./help/#support"><h2>视频中心</h2></a></li>
                  </ul>
            </div>
	        </div>
                  <div class="col-md-12">

             
               <foreach name="article" item="a">
              <div class="col-md-3 md-margin-bottom-40">
		        <img class="img-responsive" src="{$a.imageurl}" alt=""/>
		      <a href="#"><p class="intro">{$a.intro}</p></a>
			   
               </div>
             
               </foreach>
              </div>
            </div> 
	        </div>         </section> 
    </div>


<include file="Public/footer"/>
