<include file="Public/header" title="我们的服务"/>   
 <div class="container">
<section class="callaction">
		<div class="row">
           
                <div class="col-md-12 pading30">
               <div class="page-header">    
                      <h3 class="marginleft20">{$model.title}</h3>       
                 </div>
           
                 <div class="pading30">
                     {$content}
                 </div>
                     

		        </div>
		    </div>
		

</section></div><include file="Public/footer"/>