<extend name="Public/layout" />
<block name="title">我们的服务|上海烽凰文化传播有限公司</block>
<block name="content">

<div class="container">  
<section class="callaction">
	
		<div class="row">
            
                <div class="col-md-12 pading30">
               <div class="page-header"> 
                    <p class="psize20 marginleft20"><strong>我们的服务</strong></p>   
     
                 </div>
		  <div class="col-md-12">
              <div class="page-header">  
                  <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('service/service',array('cid'=>'21'))}">more</a></li>
                      <li>媒体发布</li>
                    </ul>            
                 </div>
            <foreach name="media" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="thumbnail-1">
                              <a href="{:U('service/detail',array('cid'=>$n['category'],'id'=>$n['id']))}" title="{$n.title}">
                                    <div class="col-md-4">
                                    <img src="{$n.imageurl}" alt="{$n.intro}"/>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="caption"> 
                                    <h4>{$n.title}</h4>
                                    <p>{$n.intro}</p>
                                    </div>
                                    </div>  
                                </a>
                            </div>  
                      </div> 
             </foreach>
             </div>

             <div class="col-md-12">
              <div class="page-header">  
                  <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('service/service',array('cid'=>'22'))}">more</a></li>
                      <li>公关活动</li>
                    </ul>               
                 </div>
            <foreach name="public" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="thumbnail-1">
                              <a href="{:U('service/detail',array('cid'=>$n['category'],'id'=>$n['id']))}" title="{$n.title}">
                                    <div class="col-md-4">
                                    <img src="{$n.imageurl}" alt="{$n.intro}"/>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="caption"> 
                                    <h4>{$n.title}</h4>
                                    <p>{$n.intro}</p>
                                    </div>
                                    </div>  
                                </a>
                            </div>    
                      </div> 
             </foreach>
             </div>

            
             <div class="col-md-12">
              <div class="page-header">  
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('service/service',array('cid'=>'23'))}">more</a></li>
                      <li>危机公关处理</li>
                    </ul>       
                 </div>
            <foreach name="crisis" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="thumbnail-1">
                              <a href="{:U('service/detail',array('cid'=>$n['category'],'id'=>$n['id']))}" title="{$n.title}">
                                    <div class="col-md-4">
                                    <img src="{$n.imageurl}" alt="{$n.intro}"/>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="caption"> 
                                    <h4>{$n.title}</h4>
                                    <p>{$n.intro}</p>
                                    </div>
                                    </div>  
                                </a>
                            </div>  
                      </div> 
             </foreach>
             </div>

            <div class="col-md-12">
              <div class="page-header">  
                     <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('service/service',array('cid'=>'24'))}">more</a></li>
                      <li>广告代理发布</li>
                    </ul>  
                         
                 </div>
            <foreach name="advertisement" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="thumbnail-1">
                              <a href="{:U('service/detail',array('cid'=>$n['category'],'id'=>$n['id']))}" title="{$n.title}">
                                    <div class="col-md-4">
                                    <img src="{$n.imageurl}" alt="{$n.intro}"/>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="caption"> 
                                    <h4>{$n.title}</h4>
                                    <p>{$n.intro}</p>
                                    </div>
                                    </div>  
                                </a>
                            </div>   
                      </div> 
             </foreach>
             </div>

             <div class="col-md-12">
              <div class="page-header">   
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('service/service',array('cid'=>'25'))}">more</a></li>
                      <li>网络推广</li>
                    </ul>   
                           
                 </div>
            <foreach name="web" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="thumbnail-1">
                              <a href="{:U('service/detail',array('cid'=>$n['category'],'id'=>$n['id']))}" title="{$n.title}">
                                    <div class="col-md-4">
                                    <img src="{$n.imageurl}" alt="{$n.intro}"/>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="caption"> 
                                    <h4>{$n.title}</h4>
                                    <p>{$n.intro}</p>
                                    </div>
                                    </div>  
                                </a>
                            </div>    
                      </div> 
             </foreach>
             </div>

            <div class="col-md-12">
              <div class="page-header">   
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('service/service',array('cid'=>'26'))}">more</a></li>
                      <li>VI设计</li>
                    </ul>   
                           
                 </div>
            <foreach name="vi" item="n"> 
                 <div class="col-md-12 marginbot20">
		        <div class="thumbnail-1">
                              <a href="{:U('service/detail',array('cid'=>$n['category'],'id'=>$n['id']))}" title="{$n.title}">
                                    <div class="col-md-4">
                                    <img src="{$n.imageurl}" alt="{$n.intro}"/>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="caption"> 
                                    <h4>{$n.title}</h4>
                                    <p>{$n.intro}</p>
                                    </div>
                                    </div>  
                                </a>
                            </div>   
                      </div> 
             </foreach>
             </div>

             <div class="col-md-12">
              <div class="page-header">   
                    <ul class="list-unstyled">
                      <li class="pull-right"><a href="{:U('service/service',array('cid'=>'27'))}">more</a></li>
                      <li>全案策划服务</li>
                    </ul>   
                           
                 </div>
            <foreach name="plan" item="n"> 
                 <div class="col-md-12 marginbot20">
		              <div class="thumbnail-1">
                            <a href="{:U('service/detail',array('cid'=>$n['category'],'id'=>$n['id']))}" title="{$n.title}">
                                <div class="col-md-4">
                                <img src="{$n.imageurl}" alt="{$n.intro}"/>
                                </div>
                                <div class="col-md-8">
                                <div class="caption"> 
                                <h4>{$n.title}</h4>
                                <p>{$n.intro}</p>
                                </div>
                                </div>  
                            </a>
                        </div>   
                      </div> 
             </foreach>
             </div>

		</div>
		</div>

	</section>	</div></block>